/* dark/light mode */
:root {
  --bs-dark: #222426;
}

.theme-container {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.theme-container:hover {
  opacity: 0.8;
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.titleCh {
  color: #222426;
}

.descCh {
  color: #222426;
}

.h2Ch {
  color: rgb(0, 161, 22);
}
