@media only screen and (max-width: 992px) {
  .container-left {
    float: left;
    padding: 30% 0 0 10%;
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .container-left {
    float: left;
    padding: 30% 0 0 10%;
    width: 100%;
    height: 100vh;
  }

  .title {
    font-size: 35px;
  }

  h2 {
    font-size: 18px;
  }

  .desc {
    font-size: 15px;
  }

  .btn {
    width: 45px;
    height: 45px;
  }

  .btn i {
    line-height: 45px;
    font-size: 20px;
  }
  
  .loader span {
    height: 2vw;
    width: 2vw;
  }
  
  .loader {
  
    width: 20vw;
    height: 20vw;
  }
}

@media only screen and (max-height: 500px) {
  .container-left {
    float: left;
    padding: 5% 0 0 10%;
    width: 100%;
    height: 100vh;
  }
}


